.buttons{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem;
    
}

.buttons button{
    color: white;
    border: solid 2px black;
    cursor: pointer;
}

.buttons button:hover{
    opacity: 0.7;
}

.kantoBtn{
    background-color: rgb(245, 167, 225);
}

.jhotoBtn{
    background-color: rgb(114, 243, 114);
}

.hoennBtn {
    background-color: rgb(224, 179, 93);
}

.sinnohBtn{
    background-color: rgb(143, 143, 143);
}

.teseliaBtn{
    background-color: #848064;
}

.kalosBtn{
    background-color: #792329;
}

.alolaBtn{
    background-color: rgb(71, 70, 70); 
}

.galarBtn{
    background-color: #545F9D;
}

.othersBtn{
    background-color: black;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.search input{
    height: 50px;
    width: 200px;
    text-align: center;
}

.search label{
    font-size: 20pt;
}

.pokemonsSearchActive {
    width: 300px;
    height: 200px;
    display: flex;
    text-align: center;
    padding: 5rem;
}

.pokemonSearchHidden{
    display: none;
}

@media screen and (max-width: 560px) {

    .buttons{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 375px) {

    .buttons{
        grid-template-columns: repeat(1, 1fr);
    }

    .pokemonsSearchActive {

        margin-left: 3rem;
    }
    
}

@media screen and (max-width: 375px) {

    .pokemonsSearchActive {

        margin-left: 1rem;
    }
    
}


